<header>
    <div class="card-img-overlay">
        <h1 class="animated wow fadeInLeft">
            Assasins front-end
        </h1>
        <h3>
            Conheça nossos personagens
        </h3>
        <div class="row btn-saiba-mais">
            <button class="btn btn-outline-light btn-lg animated wow fadeInUp mt-3"
            title="Clique para ver mais">Saiba mais<i class="fa fa-eye"></i></button>
        </div>
    </div>
</header>

<div class="bg-dark p-3">
    <h2 class="text-center wow animated tada text-white">
        Os melhores personagens desses jogo
    </h2>
</div>

<app-personagens></app-personagens>
